@keyframes bg-scroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 50px 50px;
    }
}

body {
    background-image: url("./bg.png");
    animation: bg-scroll 2s infinite;
    animation-timing-function: linear;
}

#container .box-1 {
    display: flexbox;
    background-color: #ffd6d6;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.1);
    width: 10rem;
}