---
import "../styles/index.css";
import NavBar from "./components/NavBar.astro";
import { ViewTransitions } from 'astro:transitions';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kait's Cat Corner</title>
		<ViewTransitions />
	</head>
	<body>
		<NavBar/>
		<div id="container">
			<div class="box-1">
				<p>
					Hi, I'm Kaitlyn!
				</p>
			</div>
		</div>
	</body>
</html>
